.main-chat
  .group-info
    .group-info__head
      .group-info__title
        test
      .group-info__detail
        member : me
    .group-info__edit-btn
      = link_to "#" do
        Edit
  .messages
    %article.messages__unit
      .messages__username
        username
        .messages__date
          2020/05/07(Thu) 02:59:00
      %p.messages__text
        おはよう〜！
    %article.messages__unit
      .messages__username
        username
        .messages__date
          2020/05/07(Thu) 03:59:00
      %p.messages__text
        こんにちは！
    %article.messages__unit
      .messages__username
        username
        .messages__date
          2020/05/07(Thu) 04:59:00
      %p.messages__text
        今日は朝から雨…
  .post-form
    %form.post-form__input-unit
      %input.post-form__input-area(type="text" name="message" placeholder="type a message")/
      %label.post-form__img-btn(for="img")
        = icon('far', 'image')
        %input.post-form__input(type="file" id="img")/
    %input.post-form__snd-btn(type="submit" value="Send")/