.side-bar
  .head-sec
    .head-sec__main-unit
      .head-sec__user-name
        username
      .head-sec__icons
        = link_to '#' do
          = icon('far', 'edit')
        = link_to '#' do
          = icon('fas', 'cog')
  .group-list
    .group-list__unit
      %p.group-list__heading
        techcamp
      %p.group-list__lead
        まだメッセージがありません
    .group-list__unit
      %p.group-list__heading
        techcamp2
      %p.group-list__lead
        まだメッセージがありません