$color-dark:   #253141;
$color-dim:    #2f3e51;
$color-nutral: #d2d2d2;
$color-light:  #fafafa;

$color-title:  #333333;
$color-text:   #434a54;
$color-thin:   #999999;

$color-white:  #ffffff;
$color-black:  #000000;
$color-accent: #38aef0;

$color-border: #eeeeee;

// フラッシュメッセージ用
$white:           #ffffff;
$side_blue_dark:  #253141;
$side_blue_light: #2f3e51;
$light_blue:      #38AEF0;
$light_gray:      #999999;
$black:           #434a54;
$alert_orange:    #F35500;