.head-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $color-dark;
  
  &__main-unit {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 20px;
    background-color: $color-dark;
    line-height: 20px;
  }
  &__user-name {
    color: $color-white;
    font-weight: bold;
  }
  &__icons {
    width: 60px;
    text-align: end;
  }
  &__icons a {
    padding-left: 5px;
    text-decoration: none;
    color: $color-white;
    font-size: 0.8em;
  }
}