* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #253141;
  &__user-name {
    width: 100%;
    height: 100px;
    background-color: #253141;
    display: flex;
  }
  &__menu {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.top-items {
  background-color: #253141;
  width: 260px;
  height: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  &__name {
    line-height: 20px;
    color: #ffffff;
  }
  &__icons {
    width: 60px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    &--icon {
      margin-left: 5px;
    }
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
  }
  &__message-list {
    width: 100%;
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__input-form {
    width: 100%;
    height: 90px;
    background-color: #d2d2d2;
  }
}