.messages {
  height: calc(100vh - 190px);
  padding-top: 35px;
  background-color: $color-light;
  
  &__unit {
    padding-left: 40px;
    padding-bottom: 46px;
  }
  
  &__username {
    display: flex;
    padding-bottom: 12px;
    color: $color-title;
    font-size: 16px;
    font-weight: bold;
  }

  &__date {
    padding-left: 5px;
    color: $color-thin;
    font-size: 12px;
    font-weight: normal;
  }

  &__text {
    display: block;
    color: $color-text;
    font-size: 14px;
  }
}